/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.divbutton {
    height: 100px;
    background: #0000ff;
}
/*
.angular-leaflet-map {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  bottom: 0;
}
*/



.search-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #ddd;
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
  line-height: 80px;
  padding: 0 30px;

}

.search-bar .search .input {
  width: 100%;
}

.search-bar .search .input input {
  width: 100%;
  border-radius: 4px;
}



ul.sortable {
  padding: 0;
  margin: 0;
  width: 50%;
  height: 300px;
  margin-left: 25%;
  padding: 6px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  list-style-type: none;
}


li.item {

}

.shows {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  display: none;
}

.yes {
  background-color: #8BC34A;
  display: block;
}

.no {
  display: none;
}
