
<div class="form-group">
  
  <label class="control-label" for="name">Name:</label> 
  <div class="form-group" id="name"> 
    <input type="text" class="form-control" placeholder="Name" ng-model="user.name" value="{{editedOrgUnit.properties.name}}"> 
  </div>

  <label class="control-label" for="shortName">Short name:</label> 
  <div class="form-group" id="shortName"> 
    <input type="text" class="form-control" placeholder="Short name" ng-model="user.shortName"> 
  </div> 

 <label class="control-label" for="openingDate">Opening date:</label> 
  <div class="form-group" id="openingDate"> 
    <input type="text" class="form-control" placeholder="Opening date" ng-model="user.openingDate"> 
  </div>

  <label class="control-label" for="parent">Parent:</label> 
  <div class="form-group" id="parent">
    <input type="text" class="form-control" placeholder="Parent" ng-model="user.parent.name" disabled> 
  </div> 
  
    <label class="control-label" for="">:</label> 
  <div class="form-group" id=""> 
    <input type="text" class="form-control" placeholder="" ng-model="user."> 
  </div> 

  <label class="control-label" for="org-long">Longitude:</label> 
  <div class="form-group" id="org-long"> 
    <input type="number" class="form-control" placeholder="Longitude" ng-model="user.coordinates[1]"> 
  </div> 

  <label class="control-label" for="org-lat">Latitude:</label> 
  <div class="form-group" id="org-lat"> 
    <input type="number" class="form-control" placeholder="Latitude"  ng-model="user.coordinates[0]"> 
  </div>


  <div class="form-group">
    <label for="sel1">Belongs to set:</label>
    <select class="form-control" id="sel1">
      <option >---------</option>
      <option>Org unit set 1</option>
      <option>Org unit set 2</option>
      <option>Org unit set 3</option>
      <option>Org unit set 4</option>
      <option>Org unit set 5</option>
      <option>Org unit set 6</option>
    </select>
  </div>
  
  <button ng-click="cancelEdit()" type="submit" class="btn btn-secondary navbar-left">Cancel</button> 
  <button ng-click="saveOrgUnit(user)" type="submit" class="btn btn-primary navbar-right">Save</button>
</div>
