
<div class="form-group">
  
  <label class="control-label" for="new-org">Name:</label> 
  <div class="form-group" id="new-org"> 
    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="user.name" > 
  </div>

  
  <label class="control-label" for="short-name">Short name:</label> 
    <div class="form-group" id="short-name"> 
    <input type="text" class="form-control"  placeholder="Short name" ng-model="user.shortName"> 
  </div> 

 <label class="control-label" for="openingDate">Opening date:</label> 
  <div class="form-group" id="openingDate"> 
    <input type="text" class="form-control" placeholder="yyyy-mm-dd" ng-model="user.openingDate"> 
  </div>
  

  <label class="control-label" for="org-long">Longitude:</label>
  <div class="form-group" id="org-long">
    <input type="number" class="form-control" placeholder="Push map to set location" ng-model="user.coordinates[1]" disabled>
  </div>

  <label class="control-label" for="org-lat">Latitude:</label>
  <div class="form-group" id="org-lat">
    <input type="number" class="form-control" placeholder="Push map to set location"  ng-model="user.coordinates[0]" disabled>
  </div>


  <div class="form-group">
    <label for="parents">Parent:</label>
    <select class="form-control" id="parents"  ng-model="user.parent.code">
      <option ng-repeat="parent in p = (parents | orderBy: 'name')" value="{{parent.code}}">{{parent.name}}</option>
    </select>
  </div>


  <button ng-click="cancelEdit()" type="submit" class="btn btn-secondary navbar-left">Cancel</button> 
  
  <button ng-click="submitNew(user)" type="submit" class="btn btn-primary navbar-right">Save</button>
</div>

<pre>user = {{user}}</pre>
