
<div class="col-sm-8">
  <div class="panel panel-default">




    <div class="panel-heading">Org units
      <button ng-click="showOnMap()" type="button" class="btn btn-default btn-xs pull-right">
	<i class="fa fa-location-arrow"> Find me</i>
      </button>
    </div>




    <div class="panel-body">
      <p>
	Long: <input type="number" ng-model="location.lng">
	Lat: <input type="number" ng-model="location.lat">
      </p>
      <p>
	<button ng-click="addMarkers()" type="submit" class="btn btn-success">Add markers</button>
	<button ng-click="removeMarkers()" type="submit" class="btn btn-success">Remove markers</button>
	<button ng-click="removeOsmLayer()" type="submit" class="btn btn-success">Show cycle layer</button>
	<button ng-click="addOsmLayer()" type="submit" class="btn btn-success">Show OSM layer</button>
	<button ng-click="showGoogleLayers()" type="submit" class="btn btn-success">Show Google layer</button>
      </p>

      <p>
	<leaflet defaults="defaults" center="center" geojson="geojson" markers="markers" layers="layers" height="480px" max-width="698px"></leaflet>
      </p>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="panel panel-default"  style="min-height: 643px;">

    <ul class="nav nav-tabs nav-justified">

      <li role="presentation" class="active" id="search-tab"><a ng-click="selectSearch()">Search</a></li>
      <li role="presentation" id="new-tab"><a id="new-tab-link" ng-click="selectNewOrg()">New</a></li>

    </ul>
    <div class="panel-body" id="panel-body">

      <ng-include src="pages[subPage]"></ng-include>

    </div>
  </div>
</div>
