<div id="search" class="ui form equal width">
  <div class="ui inverted dimmer">
    <div class="ui text loader" id="loader-text">Loading data...</div>
  </div>
  <div class="field">
    <div class="ui selection dropdown fluid">
      <input type="hidden" name="organisation_unit_level">
      <i class="dropdown icon"></i>
      <div class="default text">Choose a level</div>
      <div class="menu">
        <div class="item" ng-repeat="level in organisationUnitLevels" data-value="{{ level.id }}" ng-click="setOrgs({{ level.level }})">{{ level.name }}</div>
      </div>
    </div>
  </div>
  <div class="field">
    <input type="search" ng-model="searchText" placeholder="Search for facility" autofocus>
  </div>
  <span ng-show="searchText.length > 0">
    <div class="list-group" id="searchTextResults">
      <a class="list-group-item"  ng-repeat="organization in filtered = (orgs | filter:searchText | orderBy: 'name' |limitTo:9)" ng-click="showMap(organization)">{{ organization.orgname }}</a>
      <span ng-show="(orgs | filter:searchText | orderBy: 'name').length - 9 > 0">
        <li class="list-group-item" style="font-weight: bold; border-top-left-radius: 0; border-top-right-radius: 0;">{{(orgs | filter:searchText | orderBy: 'name').length - 9}} more results not displayed</li>
      </span>
    </div>
  </span>
</div> <!-- form-group -->
<script>
  $('.ui.dropdown').dropdown();
</script>
