

<div class="form-group">
  <label for="sel1">Filter results:</label>
  <select class="form-control" id="sel1">
    <option>Org unit</option>
    <option>Org unit Group</option>
    <option>Org unit Group Set</option>
    <option>Org unit Level</option>
  </select>
</div>

<label class="control-label" for="search">Search:</label>
<div class="form-group" id="search">
  <input type="string" ng-model="searchText" class="form-control" placeholder="Search for facility">
  <ul class="list-group" id="searchTextResults">
    <li class="list-group-item"  ng-repeat="organization in organizations | filter:searchText">
      {{organization.name}}
    </li>
  </ul>
</div> <!-- form-group -->

