

<div class="form-group">
  <label for="sel1">Filter results:</label>
  <select class="form-control" id="sel1">
    <option>Org unit</option>
    <option>Org unit Group</option>
    <option>Org unit Group Set</option>
    <option>Org unit Level</option>
  </select>
</div>

<label class="control-label" for="search">Search:</label>
<div class="form-group" id="search">
  <input type="string" ng-model="searchText" class="form-control" placeholder="Search for facility" autofocus>

  
  <span ng-show="searchText.length > 0">
    <ul class="list-group" id="searchTextResults">
      <li class="list-group-item"  ng-repeat="organization in filtered = (organizations | filter:searchText | orderBy: 'name')">
	<a href="#" style="display:block; min-height:100%;">{{organization.name }}</a>
      </li>
    </ul>
  </span>
</div> <!-- form-group -->

